.advantages {
	width: 100%;
}

.advantages__wrapper {
	.center-block;
}

.advantages__title {
	font-family: @font-family;
	font-size: @font-size-week-header;
	line-height: @line-height-title;
	font-weight: bold;
}

.advantages__list {
	list-style: none;
	padding: 0;
}

.advantages__item {
	font-family: @font-family;
	font-size: @font-size-base;
	line-height: @line-height-promo;
	font-weight: bold;
}
