	.main-nav {
		width: 100%;
		margin: 0;
	}
	
	@media (max-width:767px) {
		.main-nav__wrapper {
			width: 320px;
			margin: 0 auto;
		}
		.main-nav__top {
			box-sizing: border-box;
			height: 80px;
			width: 320px;
			border-bottom: @palette-secondary 1px solid;
		}
		.main-nav__list {
			display: block;
			margin: 0;
			padding: 0;
			.list-none-style;
		}
		.main-nav__item {
			box-sizing: border-box;
			display: block;
			width: 320px;
			padding: 34px 0;
			text-align: center;
			border-bottom: @palette-secondary 1px solid;
			a {
				text-decoration: none;
				font-family: @font-family;
				color: @text-color-base;
				font-size: @font-size-base;
				line-height: @line-height-base;
				font-weight: bold;
			}
		}
		.main-nav__item:nth-child(5) {
			display: none;
		}
		.main-nav__item:nth-child(6) {
			display: none;
		}
		.main-nav__item:nth-child(7) {
			display: none;
		}
	}
	
	@media(min-width:1250px) {
		.main-nav__wrapper {
			box-sizing: border-box;
			width: 1250px;
			margin: 0 auto;
			padding: 0 50px;
		}
		.main-nav__list {
			padding: 0;
			margin: 0;
			margin-bottom: -55px;
			.list-none-style;
			display: flex;
			flex-wrap: wrap;
		}
		.main-nav__item {
			box-sizing: border-box;
			a {
				text-align: left;
				text-decoration: none;
				font-family: @font-family;
				color: @text-color-base;
				font-size: @font-size-base;
				line-height: @line-height-base;
				font-weight: bold;
			}
		}
		.main-nav__item:first-child {
			box-sizing: border-box;
			width: 235px;
			height: 88px;
			padding-top: 36px;
			padding-left: 50px;
			border-right: @palette-secondary 1px solid;
			border-bottom: @palette-secondary 1px solid;
		}
		.main-nav__item:nth-child(2) {
			width: 518px;
			height: 88px;
			padding-top: 36px;
			padding-left: 36px;
			border-right: @palette-secondary 1px solid;
			border-bottom: @palette-secondary 1px solid;
		}
		.main-nav__item:nth-child(3) {
			width: 83px;
			height: 88px;
			padding-top: 36px;
			border-right: @palette-secondary 1px solid;
			border-bottom: @palette-secondary 1px solid;
			a {
				font-size: 0;
			}
		}
		.main-nav__item:nth-child(4) {
			box-sizing: border-box;
			width: 314px;
			height: 88px;
			padding-top: 36px;
			padding-right: 50px;
			text-align: right;
			border-bottom: @palette-secondary 1px solid;
		}
		.main-nav__item:nth-child(5) {
			box-sizing: border-box;
			width: 235px;
			height: 55px;
			padding-top: 25px;
			padding-left: 50px;
			a {
				font-size: @font-size-paragraph;
			}
		}
		.main-nav__item:nth-child(6) {
			box-sizing: border-box;
			width: 601px;
			height: 55px;
			padding-top: 25px;
			padding-left: 36px;
			a {
				font-size: @font-size-paragraph;
			}
		}
		.main-nav__item:nth-child(7) {
			box-sizing: border-box;
			width: 314px;
			height: 55px;
			padding-top: 25px;
			padding-right: 50px;
			text-align: right;
			a {
				font-size: @font-size-paragraph;
				font-weight: normal;
			}
		}
	}
	
	@media(min-width: 768px)and(max-width: 1249px) {
		.main-nav__wrapper {
			box-sizing: border-box;
			width: 768px;
			margin: 0 auto;
			padding: 0 50px;
		}
		.main-nav__list {
			padding: 0;
			margin: 0;
			margin-bottom: -55px;
			.list-none-style;
			display: flex;
			flex-wrap: wrap;
		}
		.main-nav__item {
			box-sizing: border-box;
			a {
				text-align: left;
				text-decoration: none;
				font-family: @font-family;
				color: @text-color-base;
				font-size: @font-size-base;
				line-height: @line-height-base;
				font-weight: bold;
			}
		}
		.main-nav__item:first-child {
			order: 4;
			box-sizing: border-box;
			width: 167px;
			height: 55px;
			padding-top: 25px;
			font-size: @font-size-paragraph;
		}
		.main-nav__item:nth-child(2) {
			order: 5;
			width: 236px;
			height: 55px;
			padding-top: 25px;
			font-size: @font-size-paragraph;
		}
		.main-nav__item:nth-child(3) {
			order: 2;
			width: 83px;
			height: 88px;
			padding-top: 36px;
			border-right: @palette-secondary 1px solid;
			a {
				font-size: 0;
			}
		}
		.main-nav__item:nth-child(4) {
			order: 3;
			box-sizing: border-box;
			width: 263px;
			height: 88px;
			padding-top: 36px;
			text-align: right;
		}
		.main-nav__item:nth-child(5) {
			order: 0;
			box-sizing: border-box;
			width: 167px;
			height: 88px;
			padding-top: 36px;
			a {
				font-size: 0;
			}
		}
		.main-nav__item:nth-child(6) {
			order: 1;
			box-sizing: border-box;
			width: 154px;
			height: 88px;
			padding-top: 36px;
			border-right: @palette-secondary 1px solid;
			a {
				font-size: 0;
			}
		}
		.main-nav__item:nth-child(7) {
			order: 6;
			box-sizing: border-box;
			width: 263px;
			height: 55px;
			padding-top: 25px;
			text-align: right;
			a {
				font-size: @font-size-paragraph;
				font-weight: normal;
			}
		}
	}
