@media (max-width: 767px) {
	.order-form-color {
		box-sizing: border-box;
		width: 320px;
		margin: 0 auto;
		padding: 50px;
		padding-top: 0;
	}
	.order-form-color__header {
		font-family: @font-family;
		font-size: @font-size-base;
		line-height: @line-height-base;
		color: @palette-primary;
		font-weight: bold;
		text-transform: uppercase;
	}
	.order-form-color__list {
		display: block;
		.list-none-style;
		font-family: @font-family;
		font-size: @font-size-base;
		line-height: @line-height-base;
		font-weight: bold;
		margin-bottom: 12px;
		li {
			display: block;
			padding: 18px 0;
			margin-bottom: 28px;
		}
	}
}

@media(min-width: 768px)and(max-width: 1249px) {
	.order-form-color__wrapper {
		width: 100%;
		background-color: @palette-secondary-light;
	}
	.order-form-color {
		box-sizing: border-box;
		width: 768px;
		margin: 0 auto;
		padding: 50px;
		display: flex;
		align-content: center;
	}
	.order-form-color__header {
		width: 167px;
		padding-top: 20px;
		text-align: center;
		font-family: @font-family;
		font-size: @font-size-base;
		line-height: @line-height-base;
		color: @palette-primary;
		font-weight: bold;
		text-transform: uppercase;
	}
	.order-form-color__list {
		width: 501px;
		.list-none-style;
		font-family: @font-family;
		font-size: @font-size-base;
		line-height: @line-height-base;
		font-weight: bold;
		display: flex;
		flex-wrap: wrap;
	}
	.order-form-color__item {
		display: block;
		box-sizing: border-box;
		width: 226px;
		height: 65px;
		padding-top: 20px;
	}
	.order-form-color__item:nth-child(2n) {
		margin-right: 1px;
	}
}

@media(min-width:1250px) {
	.order-form-color__wrapper {
		width: 100%;
		background-color: @palette-secondary-light;
	}
	.order-form-color {
		box-sizing: border-box;
		width: 1250px;
		margin: 0 auto;
		padding: 50px;
		display: flex;
		align-content: center;
	}
	.order-form-color__header {
		width: 175px;
		margin: 0;
		padding: 0;
		padding-top: 15px;
		text-align: center;
		font-family: @font-family;
		font-size: @font-size-base;
		line-height: @line-height-base;
		color: @palette-primary;
		font-weight: bold;
		text-transform: uppercase;
	}
	.order-form-color__list {
		width: 975px;
		.list-none-style;
		font-family: @font-family;
		font-size: @font-size-base;
		line-height: @line-height-base;
		font-weight: bold;
		display: flex;
		flex-wrap: wrap;
	}
	.order-form-color__item {
		display: block;
		width: 260px;
		height: 65px;
	}
	.order-form-color__item:nth-child(3n) {
		margin-right: 195px;
	}
}
