.rewiew {
	width: 100%;
}

.review-wrapper {
	.center-block;
}

.review__title {
	font-family: @font-family;
	font-size: @font-size-week-header;
	line-height: @line-height-title;
}

.review__content {
	font-family: @font-family;
	font-size: @font-size-paragraph;
	line-height: @line-height-title;
}

.review__sign {
	font-family: @font-family;
	font-size: @font-size-base;
	line-height: @line-height-promo;
	font-weight: bold;
}

.review__link {
	text-decoration: none;
	font-family: @font-family;
	color: @text-color-base;
	font-size: @font-size-base;
	line-height: @line-height-promo;
}
